extends layout

block content
  <center>
  h1= "NAZI-CORS el proyecto para saltarse el CORS"
  p Bienvenido al Nazi CORS
  p Un proyecto para el IES El Rincon el cual intenta saltarse la proteccion CORS
  p Aplicando una mentalidad CRAWLER-SERVER
  p Diseñado por Juan con Cariño <3
  h2="Atencion, estas en el index, necesitas llamar directamente a los XML para usarlos"
  h3="Ten en cuenta que son actualizados de media cada 2 segundos asincronamente"
  </center>
